@import "src/styles/sizes";
@import "src/styles/colors";

.box {
  height: $size-xlarge;
  width: $size-xlarge;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: $size-small;

  border: $size-xsmall solid black;
  border-width: $size-xsmall $size-2xsmall;
  border-radius: $size-medium;

  font-size: $size-normal * 1.25;
  font-weight: 700;
}

.box:first-child {
  border-left-width: $size-xsmall;
}

.box:last-child {
  border-right-width: $size-xsmall;
}

.red {
  composes: box;

  background-color: $red-100;

  border-color: $red-900;

  color: $red-900;
}

.redDisabled {
  composes: red;

  background-color: scale-color($red-600, $saturation: -25%);
}

.yellow {
  composes: box;

  background-color: $yellow-100;

  border-color: $yellow-700;

  color: $yellow-700;
}

.yellowDisabled {
  composes: yellow;

  background-color: scale-color($yellow-400, $saturation: -25%);
}

.green {
  composes: box;

  background-color: $green-100;

  border-color: $green-800;

  color: $green-800;
}

.greenDisabled {
  composes: green;

  background-color: scale-color($green-500, $saturation: -25%);
}

.blue {
  composes: box;

  background-color: $blue-100;

  border-color: $blue-900;

  color: $blue-900;
}

.blueDisabled {
  composes: blue;

  background-color: scale-color($blue-600, $saturation: -25%);
}
