@import "src/styles/sizes";
@import "src/styles/colors";

.lock {
  height: $size-xlarge;
  width: $size-xlarge;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: $size-xsmall solid black;
}

.red {
  composes: lock;

  background-color: #ffdddd;

  border-color: $red-900;

  color: $red-900;
}

.yellow {
  composes: lock;

  background-color: #ffffdd;

  border-color: $yellow-700;

  color: $yellow-700;
}

.green {
  composes: lock;

  background-color: #ddffdd;

  border-color: $green-800;

  color: $green-800;
}

.blue {
  composes: lock;

  background-color: #ddddff;

  border-color: $blue-900;

  color: $blue-900;
}
