//noinspection CssInvalidAtRule
@import-normalize;

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), url("./fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Ubuntu Light Italic"), url("./fonts/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Regular Italic"), url("./fonts/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), url("./fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu Medium Italic"), url("./fonts/Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), url("./fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Bold Italic"), url("./fonts/Ubuntu-BoldItalic.ttf");
}

html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;

  font-family: Ubuntu, sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
}
